body{
    background-image:url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg");
    background-size: cover;
    margin:0 auto;          
}

#output-section{
    text-align: center;
    color: whitesmoke;

}
#main-head{
    text-align: center;
}
#get-weather-btn{
    color: rgb(15, 1, 19);
    background-color: aquamarine;
}
#weather-info{
    text-align: center;
    color: rgb(221, 221, 221);
    

}
